.hidden {
    display: none;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: inherit;
}

.container {
    font-size: 16px;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 1400px;
    margin: 0 auto;
    background-color: #EEEEEF;
}

/* Header content area */
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header__info {
    background-color: #10BBD5;
    padding: 16px 52px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

/* Logo */
.header__logo-icon {
    display: block;
    width: 136px;
    height: 29px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* Shopcart content area */

.header__shopcart {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__shopcart-price {
    margin: 8px 8px 8px 0;
    color: #FFFFFF;
}

.header__shopcart-button {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url("../images/cart_icon.webp");
    background-position: center;
    border: none;
    line-height: 12px;
    font-size: 12px;
    padding: 0;
}

.header__shopcart-button-text {
    position: absolute;
    top: 28%;
    left: 47%;
}

/* Header navigation */

.header__nav {
    display: flex;
    justify-content: space-between;
    padding: 4px 52px;
    background-color: #FFFFFF;
}

.header__nav-list {
    display: flex;
}

.header__nav-link {
    text-decoration: none;
    color: #000000;
}

.header__nav-link:first-child {
    margin-right: 40px;
}

.header__nav-link:last-child {
    margin-left: 40px;
}

.header__nav-title {
    color: #000000;
}


/* Main content area */
.main {
    padding: 0 52px;
}

.main__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    padding: 32px 0 23px 0;
    border-bottom: 1px solid #A8A8A8;
    margin-bottom: 24px;
}

.main__products-grid {
    display: grid;
    grid-template: repeat(3, 512px) / repeat(4, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 32px;
    margin-bottom: 120px;
}

/* Chat button */
.main__chat-button {
    width: 64px;
    height: 64px;
    position: fixed;
    left: 74%;
    top: 47%;
    z-index: 1000;
    background-image: url("../images/chat_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #10BBD5;
    border: none;
    border-radius: 100px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    padding: 0;
}

.main__chat-button:hover {
    transform: rotate(15deg);
}

/* Product card */

.main__product {
    width: 306px;
    height: 512px;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid #A8A8A8;
    background-color: #FFFFFF;
}

.main__image-wrapper {
    position: relative;
    display: inline-block;
    height: 355px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main__image {
    width: 178px;
    height: 280px;
    margin: auto 32px;
}

.main__image-attributes {
    position: absolute;
    top: 0;
    left: 0;
}

.main__image-attributes-item {
    line-height: 27px;
    padding: 4px 8px;
    color: #F8FDFE;
    border-radius: 3px;
}

.main__image-attributes-item--new {
    background-color: #AF39E7;
}

.main__image-attributes-item--hit {
    background-color: #4200FF;
}

.main__image-attributes-item--discount {
    background-color: #EA33C0;
}

.main__title-link {
    text-decoration: none;
    color: #1F1F1F;
}

.main__caption {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    overflow: hidden;
    width: 242px;
}

.main__product-title {
    color: #1F1F1F;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
}

.main__author {
    color: #8E8E8E;
    line-height: 27px;
    border-top: 1px solid #8E8E8E;
}

.main__price {
    color: #E90000;
    line-height: 32px;
    font-size: 24px;
}

.main__price--old {
    color: #8E8E8E;
    text-decoration: line-through;
}

.main__price {
    margin-right: 24px;
}

.main__btn {
    margin-top: 16px;
    width: 100%;
    padding: 8px 0;
    color: #F8FDFE;
    line-height: 24px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    border: none;
}

.main__btn--end {
    background-color: #4D762D;
}

.main__btn--end:hover {
    background-color: #6DB236;
}

.main__btn--add {
    background-color: #4C394E;
}

.main__btn--add:hover {
    background-color: #744978;
}

/* Footer content area */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 32px 52px;
    background-color: #4C394E;
    color: #F8FDFE;
}